

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534353553351770890.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534353553351770890.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534353553351770890.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534353553351770890.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534353553351770890.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534353553351770890.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534353553351770890.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534353553351770890.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534353553351770890.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534353553351770890.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-534353553351770890.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534353553351770890.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534353553351770890.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534353553351770890.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534353553351770890.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534353553351770890.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534353553351770890.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534353553351770890.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534353553351770890.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534353553351770890.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534353553351770890.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534353553351770890.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534353553351770890.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534353553351770890.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534353553351770890.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534353553351770890.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534353553351770890.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534353553351770890.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534353553351770890.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534353553351770890.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534353553351770890.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534353553351770890.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-534353553351770890.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534353553351770890.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534353553351770890.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-534353553351770890.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534353553351770890.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-534353553351770890.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-534353553351770890.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-534353553351770890.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534353553351770890.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534353553351770890.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-534353553351770890.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-534353553351770890 .gp-relative{position:relative}.gps-534353553351770890 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534353553351770890 .gp-mb-0{margin-bottom:0}.gps-534353553351770890 .gp-flex{display:flex}.gps-534353553351770890 .gp-grid{display:grid}.gps-534353553351770890 .\!gp-hidden{display:none!important}.gps-534353553351770890 .gp-hidden{display:none}.gps-534353553351770890 .gp-max-w-full{max-width:100%}.gps-534353553351770890 .gp-flex-col{flex-direction:column}.gps-534353553351770890 .gp-gap-y-0{row-gap:0}.gps-534353553351770890 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534353553351770890 .gp-duration-200{transition-duration:.2s}.gps-534353553351770890 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-534353553351770890 .tablet\:\!gp-hidden{display:none!important}.gps-534353553351770890 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534353553351770890 .mobile\:\!gp-hidden{display:none!important}.gps-534353553351770890 .mobile\:gp-hidden{display:none}}.gps-534353553351770890 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gEa_8v1P5B" data-id="gEa_8v1P5B"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--ml-mobile:10px;--mr-mobile:10px;--pt-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEa_8v1P5B gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g5AutHQzM8 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g3GxDPiw47" data-id="g3GxDPiw47"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3GxDPiw47 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ghRSOynM1D gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gwfTSQ46tD "
    ><div><p class="wysiwyg-text-align-left"><span><img alt="" src="https://cdn.shopify.com/s/files/1/0558/7782/8652/files/FORCEFLEX_GOVX_WEBSITE_1.jpg?v=1681218043"><br><br>Our company’s roots are in designing protective eyewear for the military. Through thousands of hours of testing our products with soldiers, we came to realize that “service” extends far back from the front lines and deep into the community. This is why we have now created military-grade eyewear adapted to daily life. </span></p>
<br></br>
<p class="wysiwyg-text-align-left"><span>It’s also why we’ve partnered with GovX to offer an earned service discount to registered military, law enforcement, emergency medical, fire prevention and educational personnel as well as government employees of all stripes.</span></p>
<p class="wysiwyg-text-align-left"><span>We use&nbsp;<a href="https://www.govx.com/t/govx-id" target="_self">GovX ID</a>&nbsp;to provide 15% off.</span></p>
<p class="wysiwyg-text-align-left"><span>This earned discount only applies to US groups.</span></p>
<h3><strong><a href="https://support.govxinc.com/hc/en-us/articles/360028760811-Groups-verified-by-GovX" target="_blank">See ALL GovX ID Approved Groups Here</a></strong></h3>
<p class="wysiwyg-text-align-left">&nbsp;</p>
<p class="wysiwyg-text-align-left"><strong><span class="wysiwyg-font-size-large">How to apply your GovX ID&nbsp;</span></strong></p>
<ul>
<li class="wysiwyg-text-align-left">Fill up your shopping cart!</li>
<li class="wysiwyg-text-align-left">Click on the Shopping Cart icon in the top right hand corner&nbsp;</li>
<li class="wysiwyg-text-align-left">Click the GovX ID option at the bottom of the payment options&nbsp;</li>
</ul>
<p><img alt="" src="https://cdn.shopify.com/s/files/1/0558/7782/8652/files/govx_b510e066-7523-4e79-a85d-e871aef78425_600x600.jpg?v=1677612550"></p>
<ul>
<li class="wysiwyg-text-align-left">A separate window will pop up for you to enter your GovX ID login username and password (make sure you do not have pop-ups blocked on your browser)</li>
<li class="wysiwyg-text-align-left">After a successful login your <span>GovX ID</span> discount code will populate - click USE CODE and it will apply at checkout.</li>
</ul></div></div>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-534353553351770890 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/forceflex/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534353553318216458&sectionId=534353553351770890)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
